@charset "UTF-8";
/* Table of contents
=====================
// 1. Variables
// 2. Placeholders
// 3. Functions
// 4. Mixins
// 10. Animations
=====================
*/
.container main {
  text-align: center;
}

h2, .container .navbar, .container .contest__CTA-title, .container .footer__nav, .container .footer__slogan p, .container .btn {
  text-transform: uppercase;
}

.container .header__icon::after, .container .content__schema-left::after, .container .content__schema-right::after, .container .content__schema-phone, .container .content__schema-screen {
  position: absolute;
}

header, .container .content__schema-left, .container .content__schema-right, .container .schema__container, .container .contest {
  position: relative;
}

header, nav, .container .header__logo, .container .social, .container .navbar, .container .content__schema-image, .container footer, .container .footer__nav, .container .footer__nav-item {
  display: flex;
}

.container .header__icon::after, .container .navbar__item, .container .footer__nav-item, .container .btn:hover, .container .social__facebook:hover,
.container .social__instagram:hover {
  cursor: pointer;
}

.container .navbar__item:hover,
.container .footer__nav-item:hover, .container .btn:hover, .container .social__facebook:hover,
.container .social__instagram:hover {
  transition: all 0.2s ease-in-out;
}

/* Table of contents
=====================
// 1. Font Faces
// 2. Base
// 3. Layout
// 4. Block + element
// 5. Modifier
// 6. State
// 7. Animations
=====================
*/
@font-face {
  font-family: "lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato Italic";
  src: url("../fonts/Lato-Italic.ttf");
}

html {
  font: normal, normal, 400, 62.5%/normal, "Lato Regular", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: #ffffff;
  user-select: none;
  max-width: 1920px;
}

h2 {
  font-family: "Lato Bold";
  font-size: 3.9rem;
  margin: 0;
}

p {
  font-family: "Lato Regular";
  font-size: 2.4rem;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  grid-area: "h";
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  justify-content: center;
}

.container {
  display: grid;
  grid-template: "header" auto "main" auto "footer" auto/auto;
  overflow-x: hidden;
}

@media screen and (min-width: 721px) {
  .container {
    grid-template: "h m" auto "h m" auto/minmax(200px, 280px) 2fr;
  }
}

@media screen and (min-width: 1695px) {
  .container {
    grid-template: "h m" auto "h m" auto/minmax(200px, 320px) 2fr;
    margin: 0 auto;
  }
}

.container main {
  grid-area: "m";
}

@media screen and (min-width: 1695px) {
  .container .content {
    display: grid;
    grid-template: "details schema" auto/minmax(200px, 533px) minmax(500px, 1067px);
  }
}

.container .header__logo {
  border-bottom: 2px solid #d7d7d7;
  justify-content: center;
}

.container .header__logo-image {
  margin: 40px 0 37px 0;
}

.container .header__icon {
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 4;
}

@media screen and (min-width: 1695px) {
  .container .header__icon {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .container .header__icon {
    display: none;
  }
}

.container .header__icon::after {
  content: "☰";
  font-size: 3rem;
  color: black;
  z-index: 4;
}

.container .social {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 720px) {
  .container .social {
    display: none;
  }
}

.container .social__facebook {
  width: 35px;
  height: 35px;
  background: url("../img/css_sprites.png") -10px -10px;
  margin: 40px 14px 0 0;
}

.container .social__instagram {
  width: 35px;
  height: 35px;
  background: url("../img/css_sprites.png") -65px -10px;
  margin: 40px 40px 0 0;
}

.container .navbar {
  color: #0a040a;
  font-size: 1.4rem;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 30px -30px;
  height: 150px;
  text-align: left;
  will-change: auto;
}

.container .navbar__item {
  position: relative;
}

.container .contest__title {
  margin: 20px 0 20px 0;
}

@media screen and (min-width: 721px) {
  .container .contest__title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1695px) {
  .container .contest__title {
    margin: 270px 0 39px 108px;
  }
}

.container .content__details {
  background-color: #469da7;
  padding: 40px 3% 50px 3%;
  grid-area: "details";
}

@media screen and (min-width: 1695px) {
  .container .content__details {
    text-align: left;
    padding: 0 3% 70px 5%;
  }
}

.container .content__details p {
  text-align: center;
}

@media screen and (min-width: 721px) {
  .container .content__details p {
    margin: 30px auto;
    max-width: 325px;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__details p {
    margin-left: 108px;
    max-width: 325px;
    text-align: left;
  }
}

.container .content__schema {
  background-color: #62acb4;
  padding: 30px 3% 80px 3%;
  grid-area: "schema";
}

@media screen and (min-width: 1695px) {
  .container .content__schema {
    display: grid;
    grid-template: "right image left" auto "right image left" auto / 1fr 1fr 1fr;
  }
}

.container .content__schema-l {
  grid-area: "left";
}

@media screen and (min-width: 1695px) {
  .container .content__schema-l {
    margin-top: 200px;
  }
}

.container .content__schema-r {
  grid-area: "right";
}

@media screen and (min-width: 1695px) {
  .container .content__schema-r {
    margin-top: 170px;
  }
}

.container .content__schema p {
  font-size: 2rem;
}

@media screen and (min-width: 721px) {
  .container .content__schema p {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-left {
    text-align: left;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-first {
    max-width: 220px;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-second {
    max-width: 218px;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-third {
    display: flex;
    margin-left: auto;
    max-width: 280px;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-fourth {
    max-width: 245px;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-right {
    text-align: right;
  }
}

@media screen and (min-width: 1695px) {
  .container .content__schema-right:last-child {
    margin-top: 70px;
  }
}

.container .content__schema-left, .container .content__schema-right {
  border-bottom: 2px solid #97d1d7;
  padding: 40px 0 18px 0;
}

.container .content__schema-left::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #97d1d7;
  top: calc(100% - 4px);
  left: calc(100% - 10px);
}

.container .content__schema-right::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #97d1d7;
  top: calc(100% - 4px);
  right: calc(100% - 10px);
}

.container .content__schema-image {
  padding: 80px 0 0 0;
  min-height: 580px;
  justify-content: center;
  grid-area: "image";
}

.container .content__schema-phone {
  z-index: 0;
}

.container .content__schema-screen {
  top: 56px;
  left: 12px;
  z-index: 1;
}

.container .content__schema-product {
  position: absolute;
  z-index: 5;
  top: 140px;
  left: -60px;
}

.container .schema__container {
  max-width: 265px;
  margin-left: -240px;
}

.container .contest::after {
  display: table;
  clear: both;
  content: "";
}

.container .contest__image {
  max-width: 1600px;
  width: 100%;
  height: auto;
  z-index: 0;
  left: 0;
  top: 0;
  margin-bottom: 40px;
  float: left;
}

.container .contest__CTA {
  text-align: center;
  min-height: 500px;
}

@media screen and (min-width: 721px) {
  .container .contest__CTA {
    min-height: 400px;
  }
}

@media screen and (min-width: 1695px) {
  .container .contest__CTA {
    position: absolute;
  }
}

.container .contest__CTA-details {
  height: 52px;
  color: #36393a;
  font-size: 2.4rem;
  letter-spacing: 0.6px;
  margin: 29px 0 44px 0;
}

@media screen and (min-width: 721px) {
  .container .contest__CTA-details {
    margin: 29px 0 44px 0;
  }
}

@media screen and (min-width: 1695px) {
  .container .contest__CTA-details {
    text-align: left;
    margin: 29px 0 44px 108px;
  }
}

.container .contest__CTA-title {
  color: #36393a;
}

@media screen and (min-width: 1695px) {
  .container .contest__CTA-title {
    margin: 108px 0 0 50px;
  }
}

.container footer {
  background-color: #36393a;
  text-align: center;
  min-height: 200px;
  max-width: 1600px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 3%;
}

@media screen and (min-width: 1695px) {
  .container footer {
    padding: 20px 0;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    min-height: 135px;
    text-align: left;
  }
}

@media screen and (min-width: 1695px) {
  .container .footer__logo {
    margin-left: 107px;
  }
}

.container .footer__nav {
  padding: 0;
  margin: 0 auto;
  max-width: 408px;
  justify-content: space-between;
}

@media screen and (min-width: 1695px) {
  .container .footer__nav {
    margin-left: auto;
    margin-right: 41px;
  }
}

.container .footer__nav-item {
  font-size: 1.4rem;
  padding: 0 7px 0 7px;
  align-items: center;
}

.container .footer__nav-item:not(:last-child) {
  border-right: 2px solid #ffffff;
}

.container .footer__slogan p {
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 460px;
}

@media screen and (min-width: 1695px) {
  .container .footer__slogan p {
    margin-left: 67px;
  }
}

.container .btn {
  background-color: #469da7;
  color: #ffffff;
  font-size: 1.8rem;
  letter-spacing: 0.45px;
  margin: 0 0 64px 0;
  outline: 0;
}

.container .btn--normal {
  width: 280px;
  height: 60px;
}

.container .text--italic {
  font-family: "Lato Italic";
}

.container .is--closed {
  animation: menuToggle .3s ease forwards;
}

.container .navbar__item:hover,
.container .footer__nav-item:hover {
  color: #e30613;
}

.container .btn:hover {
  background: #e30613;
}

.container .social__facebook:hover,
.container .social__instagram:hover {
  filter: drop-shadow(0 1px 10px #ffffff);
}

.container .cl-effect-1::before,
.container .cl-effect-1::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.container .cl-effect-1::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.container .cl-effect-1::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.container .cl-effect-1:hover::before,
.container .cl-effect-1:hover::after,
.container .cl-effect-1:focus::before,
.container .cl-effect-1:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

@keyframes menuToggle {
  0% {
    height: 250px;
    opacity: 1;
  }
  100% {
    height: 0;
    display: none;
    opacity: 0;
    padding: 0;
  }
}
