@import 'helpers';


/* Table of contents
=====================
// 1. Font Faces
// 2. Base
// 3. Layout
// 4. Block + element
// 5. Modifier
// 6. State
// 7. Animations
=====================
*/


// 1. Font Faces
@font-face {
    @include font-face("lato Regular", "../fonts/Lato-Regular.ttf")
}

@font-face {
    @include font-face("lato Bold", "../fonts/Lato-Bold.ttf")
}

@font-face {
    @include font-face("lato Italic", "../fonts/Lato-Italic.ttf")
}

// 2. Base
html {
@include font(normal, normal, 400, 62.5%, normal, "Lato Regular");
font-size: 62.5%;
color: $pure-white;
user-select: none;
max-width: 1600px;
}

h2 {
font-family: "Lato Bold";
font-size: 3.9rem;
@extend %to-uppercase;
}

p {
    font-family: "Lato Regular";
    font-size: 2.4rem;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// 3. Layout
header {
    background-color: $pure-white;
    grid-area: "h";
    @extend %flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav {
    @extend %flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template: $container-mobile;
    overflow-x: hidden;
    @media screen and (min-width: 600px){
        grid-template: "h m" auto
                       "f f" auto / 1fr 2fr;
    }
}

main {
    grid-area: "m";
    @extend %text-center;
}

// 4. Block + element
.header__logo {
    border-bottom: 2px solid $lighthole-gray;
    @extend %flex;
    justify-content: center;
}

.header__logo-image {
    margin: 40px 0 37px 0;
}

.header__icon {
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 4;
}

.header__icon::after {
    content: "#{map-get($icons, hamburger)}";
    font-size: 3rem;
    color: black;
    z-index: 4;
    @extend %absolute;
    @extend %pointer;
}

.navbar {
    color: $hell-black;
    font-size: 1.4rem;
    @extend %to-uppercase;
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 30px 0;
    height: 150px;
    text-align: center;
    will-change: auto;
}

.navbar__item {
    @extend %pointer;
    position: relative;
}

.content__details {
    background-color: $sea-blue;
    padding: 40px 3% 70px 3%;
}

.content__schema {
    background-color: $sky-blue;
    padding: 30px 3% 80px 3%;
}

.content__schema-left, .content__schema-right {
    border-bottom: 2px solid $heaven-blue;
    @extend %relative;
    padding: 40px 0 18px 0;
}

.content__schema-left::after {
    content: "";
    @extend %absolute;
    width: 10px;
    height: 10px;
    background: $heaven-blue;
    top: calc(100% - 4px);
    left: calc(100% - 10px);
}

.content__schema-right::after {
    content: "";
    @extend %absolute;
    width: 10px;
    height: 10px;
    background: $heaven-blue;
    top: calc(100% - 4px);
    right: calc(100% - 10px);
}

.content__schema-image {
    padding: 80px 0 0 0;
    min-height: 580px;
    @extend %flex;
    justify-content: center;
}

.content__schema-phone {
    @extend %absolute;
    z-index: 0;
}

.content__schema-screen {
    @extend %absolute;
    top: 56px;
    left: 12px;
    z-index: 1;
}

.content__schema-product {
    position: absolute;
    z-index: 5;
    top: 140px;
    left: -60px;
}

.schema__container {
    max-width: 265px;
    @extend %relative;
    margin-left: -240px;
}
// @mixin bg($color, $url, $repeat, $position){
//     background: $color, url("#{$url}"), $repeat, $position;
// }
.contest {
    @include bg($pure-white, "../img/ON_25_SJH6424 kopia@1X.jpg", no-repeat, cover);
}

.contest__image {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: $hole-black;
    text-align: center;
    min-height: 200px;
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 3%;
    grid-area: "f";
}

.footer__nav {
    padding: 0;
    margin: 0 auto;
    @extend %flex;
    @extend %to-uppercase;
    max-width: 408px;
    justify-content: space-around;
}

.footer__nav-item {
    font-size: 1.4rem;
    padding: 0 7px 0 7px;
    @extend %pointer;
}

.footer__nav-item:not(:last-child) {
    border-right: 2px solid $pure-white;
}

.footer__slogan p {
    font-size: 1.4rem;
}

// 5. Modifier
// 6. State
.is--closed {
    animation: menuToggle .3s ease forwards;
}

.cl-effect-1::before,
.cl-effect-1::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1:hover::before,
.cl-effect-1:hover::after,
.cl-effect-1:focus::before,
.cl-effect-1:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

// 7. Animations
@keyframes menuToggle {
    0% {
        height: 250px;
        opacity: 1;
    }

    100% {
        height: 0;
        display: none;
        opacity: 0;
        padding: 0;
    }
}